<html><head>
    <link rel="stylesheet" href="/stylesheets/loginstyle.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<title>Login Form Using HTML And CSS Only</title>
</head>
<body>
	<div class="container" id="container">
		<div class="form-container log-in-container">
			<form action="/views/new" method="post">
				<h1>Sign in</h1>
				<br><br><br><br><br>
				
				<input type="text" name="id" placeholder="ID">
				<input type="text" name="id" placeholder="Nickname">
				<input type="password" name="password" placeholder="Password">
				<input type="password" placeholder="Confirm Password">
				<a></a>
				<button style="background-color:rgb(253, 139, 105); border:0; outline : 0;" onclick="location.href='/views/new'">Sign In</button>
                <br>
				<br>
                
			</form>
            
		</div>
		<div class="overlay-container">
			<div class="overlay">
				<div class="overlay-panel overlay-right">
                    <br><br>
					<h1>Um-Cycle !</h1>
					<p>This login form is created using pure HTML and CSS. For social icons, FontAwesome is used.</p>
                    <br><br><br><br><br>
                    
				</div>
			</div>
		</div>
	</div>

</body></html>